* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: Arial, sans-serif;
}


body {
background-color: #f4f4f4;
}


header {
background-color: #222;
color: #fff;
padding: 20px;
text-align: center;
}


nav {
background-color: #0a0a0a;
}
nav ul {
list-style: none;
display: flex;
justify-content: center;
}


nav ul li {
margin: 0 15px;
}


nav ul li a {
color: #fff;
text-decoration: none;
padding: 15px;
display: block;
}


nav ul li a:hover {
background-color: #666;
}


main {
padding: 20px;
display: flex;
gap: 15px;
}
section {
flex: 1;
padding: 20px;
color: #f5eded;
text-align: center;
height: 700px;
}


.section1 {
background-color: #e74c3c;
}


.section2 {
background-color: #3498db;
}


.section3 {
background-color: #2ecc71;
}


footer {
background-color: #222;
color: #fff;
text-align: center;
padding: 15px;
margin-top: 20px;
}