* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

/* Header */
header {
    background: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

/* Body Sections */
main {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    min-height: 300px;
}

.box {
    background: #f2f2f2;
    width: 30%;
    padding: 40px;
    text-align: center;
    border-radius: 8px;
}

/* Footer */
footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 15px;
}
